<form asp-controller="Home" asp-action="upload" method="post" enctype="multipart/form-data">
    <input type="file" name="images" accept="image/*" multiple="multiple" />
    <button type="submit">upload</button>
</form>