@{
    Layout = "_LayoutEmpty";
}
<div class="container">
    <a class="btn btn-primary" href="@Url.Action("Albums", "Admin")" role="button">Albums</a>
    <a class="btn btn-success" href="@Url.Action("Images", "Admin")" role="button">Images</a>
</div>